<!DOCTYPE html>
<html>
<head>
  <title>Audio Player</title>
  <link href="css/stlye.css" rel="stylesheet">
</head>
<body ng-app="andioPlayer" ng-controller="andioPlayerCtrl">
  <div ng-class="{hidden: playList.length < 1}">
    <div>
      <audio src="" controls id="audio"></audio>
    </div>

    <div id="playListContainer" ng-repeat="music in playList">
      <div id="music" ng-click="changeAudioSource($index, music)">
        <div>{{music.replace('.mp3', '')}}</div>
        <div ng-class="{playing: $index === index && audioContainer.paused !== true }"></div>
      </div>
      <div id="delete" ng-if="audioContainer.paused === true" ng-click="delMusic($index)" ng-include="'./img/delete.svg'">del</div>
    </div>
  </div>
  <div ng-if="noAudioFound === true">
    No Audio found! Please upload some via the Upload menu.
  </div>

  <script src="lib/angular.min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>